/* styles.css */

.landing-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
  
  .chat-rooms-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    
    
  }

  @media only screen and (max-width: 800px) {
    .chat-rooms-container {justify-content: space-around; }
  }


  
.chat-room {
 
    max-width: 400px;
    width: 100%;
    border: 2px solid #fff;
    border-radius: var(--border-radius);
    padding: 16px;
    margin-bottom: 16px; 
    display: flex;
  
    flex-direction: column;
    height: auto;
    max-height: 300px;
    
  }



.messages-container {
  flex-grow: 1;
  overflow-y: auto;
}

/* ... (other existing styles) */

.mr {
  margin-left: 8px;
}

  .head-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 16px;
    margin-bottom: 8px;
    
  }

  @media only screen and (max-width: 550px) { .head-top {flex-direction: column; } }
  .deleteBtn {
    margin-left: 16px; /* Adjust margin as needed */
  }
  
  
  .chat-room h3 {
    
    font-size: 22px; /* Adjust the font size based on your preference */
    color: #fff;
    margin-top: -4px;
  }
  
  

  .messages-container {

    overflow-y: auto;
  }
  
  .message-list-container {
    margin-bottom: 16px;
   
    overflow: scroll;
  }
  
  .message-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .message {
    padding: 4px 8px; /* Slightly smaller padding */
    margin-bottom: 4px;
    background: var(--color-gray);
    border-radius: var(--border-radius);
    text-align: left;
    font-size: 11px; /* Adjust the font size based on your preference */
  }
  
  .own-message {
    background: var(--color-blue);
    align-self: flex-end;
    text-align: right;
    font-size: 11px; /* Adjust the font size based on your preference */
  }

  .admin-message  {
    color: #631d76;
  }

  .mod-message {
    color: #1a4224;
  }
  
  .sender {
    margin-bottom: 4px;
    font-size: 12px; /* Adjust the font size based on your preference */
  }

  .message-input-container-1 {
    display: flex !important;
    gap: 4px;
}

.message-input {
    padding: 12px 8px;
    flex: 1 1 !important;
    background: var(--color-gray);
    border-radius: var(--border-radius);
}

.send-message {
    padding: 12px 14px;
    background: var(--color-blue);
    border-radius: var(--border-radius);
    cursor: pointer;
}
