.message-list-container {
    margin-bottom: 16px;
    flex: 1;
    overflow: scroll;
    width: 100%;
}

.message-list {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

