.messages-container {
    width: 100%;
    max-width: 600px;
    padding: 16px;
    flex-grow: 1;
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius);
    overflow: hidden;
    

    display: flex;
    flex-direction: column;
}


.message-input-container-1 {
    display: flex !important;
    gap: 4px;
}

.message-input {
    padding: 12px 8px;
    flex: 1 1 !important;
    background: var(--color-gray);
    border-radius: var(--border-radius);
}

.send-message {
    padding: 12px 14px;
    background: var(--color-blue);
    border-radius: var(--border-radius);
    cursor: pointer;
}



.chatroom-container {
    cursor: pointer;
    transition: height 0.3s ease-in-out; /* Add a smooth transition effect */
  }
  
  .chatroom-container.expanded {
    height: 300px; /* Set the expanded height as needed */
  }